<!DOCTYPE html>	
<html xmlns:th="http:www.thymeleaf.org">	
<head>	
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>	
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>	
<link rel="stylesheet" type="text/css" href="Style.css">	
<meta charset="UTF-8">	
<style>	
body  {	
  background-image: url("kontakt.png");	
  padding: 25px;	
  background-repeat: no-repeat;	
  background-size: cover;	
}	
</style>	
<title>Error 403</title>	
</head>	
<body>	
		<div class="header">	

		<div class="logo" align="center">	
			<img src="images/logo.png" width="325">			
		</div>	
	<div class="sticky">	
		<section>	
			<nav>	
				<ul class="mainNav">
	
					<li><a action="action" type="button" onclick="history.go(-1);">Wstecz</a></li>	
				</ul>	
			</nav>	
		</section>	

<br>
<br>
	<h2>Blad autoryzacji 403</h2>	
	</div>	


	<div class="contact-box">	
	<h2>MebleOnLine</h2>	
<!--  	<h2>ul. Lubelska 15/16</h2>	-->
	<h4>ul. Brzozy Smolenskiej 15/16</h4>	
	<h4>01-647 Warszawa</h4>	
	<h4>mail: meble@online.com</h4>	
	<h3>tel: 605 125 358</h3>	

</div>	
</div>	

</body>	
</html> 