<!DOCTYPE html>	
<html xmlns:th="http:www.thymeleaf.org">	
<head>	
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>	
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>	
<link rel="stylesheet" type="text/css" href="Style.css">	
<meta charset="UTF-8">	
<style>	
body  {	
  background-image: url("kontakt.png");	
  padding: 25px;	
  background-repeat: no-repeat;	
  background-size: cover;	
}	
</style>	
<title>Kontakt</title>	
</head>	
<body>	
		<div class="header">	

		<div class="logo" align="center">	
			<img src="images/logo.png" width="325">			
		</div>	
	<div class="sticky">	
		<section>	
			<nav>	
				<ul>	
					<li><a href="/">Strona główna </a></li>	
					<li><a href="/salon">Salon</a></li>	
					<li><a href="/sypialnia">Sypialnia</a></li>	
					<li><a href="/pokojDzieciecy">Pokój Dziecięcy</a></li>	
					<li><a href="/rejestracja">Rejestracja</a></li>	
					<li><a href="/logowanie">Logowanie</a></li>	
					<li><a href="/koszyk">Koszyk</a></li>	
					<li><a class="active" href="/kontakt">Kontakt</a></li>	
					<li><a href="/wyloguj">Wyloguj</a></li>	
				</ul>	
			</nav>	
		</section>	
	</div>	

	<div class="contact-box">	
	<h1>MebleOnLine</h1>	

	<h2>ul. Lubelska 15/16</h2>	

	<h2>01-647 Warszawa</h2>	




	<h2>mail: meble@online.com</h2>	

	<h2>tel: 605 125 358</h2>	


</div>	
</div>	


</body>	
</html> 