<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="Style.css">
<style>
body  {
  background-image: url("logowanie.png");
  padding: 25px;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<title>Wylogowanie</title>
</head>
<body>

		<div class="header">

		<div class="logo" align="center">
			<img src="images/logo.png" width="325">		
		</div>
<div class="sticky">
		<section>
			<nav>
				<ul>
					<li><a class="active" href="/">Strona główna</a></li>
					<li><a href="/living-room">Salon</a></li>
					<li><a href="/bedroom">Sypialnia</a></li>
					<li><a href="/children">Pokój Dziecięcy</a></li>
					<li><a href="/rejestracja">Rejestracja</a></li>
					<li><a href="/logowanie">Logowanie</a></li>
					<li><a href="/koszyk">Koszyk</a></li>
					<li><a href="/contact">Kontakt</a></li>
					<li><a href="/logout">Wyloguj</a></li>
				</ul>
			</nav>
		</section>
<br>
<br>

<h1>Wylogowałeś się!</h1>
	</div>
	</div>

	
</body>
</html>