<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="Style.css">
<style>
body {
	background-image: url("index.png");
	padding: 25px;
	background-repeat: no-repeat;
	background-size: cover;
}
</style>
<title>Strona logowania</title>
</head>
<body>
		<div class="header">

		<div class="logo" align="center">
			<img src="images/logo.png" width="325">		
		</div>
	<div class="sticky">
		<section>
			<nav>
				<ul>
					<li><a href="/">Strona główna </a></li>
					<li><a href="/salon">Salon</a></li>
					<li><a href="/sypialnia">Sypialnia</a></li>
					<li><a href="/pokojDzieciecy">Pokój Dziecięcy</a></li>
					<li><a class="active" href="/rejestracja">Rejestracja</a></li>
					<li><a href="/logowanie">Logowanie</a></li>
					<li><a href="/koszyk">Koszyk</a></li>
					<li><a href="/kontakt">Kontakt</a></li>
					<li><a href="/wyloguj">Wyloguj</a></li>
				</ul>
			</nav>
		</section>
	</div>

	<div class="registration-box">
		<form th:action="@{rejestracja}" method="post">


			<div class="form-input-box">
				<label for="imie"><b>imię:</b></label> 
				<input type="text" placeholder="podaj imie" name="imie" id="imie" required/>
				
				<label for="nazwisko"><b>nazwisko:</b></label> 
				<input type="text" placeholder="podaj nazwisko" name="nazwisko" id="nazwisko" required/>
				
				<label for="e-mail"><b>email:</b></label>
				<input type="email" placeholder="podaj adres e-mail" name="email" id="email" required/>
				
				<label for="haslo"><b>hasło:</b></label> 
				<input type="password" placeholder="podaj haslo" name="haslo" id="haslo" required />
				<br>
				<br>

				<button type="submit">Zarejestruj</button>
			</div>
		</form>

	</div>
	</div>
</body>
</html>