<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Koszyk</title>
</head>
<body>

	<h1>Koszyk</h1>
	
	<table style="width: 100%">
		<tr>
			<th>Id</th>
			<th>Kategoria</th>
			<th>Nazwa</th>
			<th>Opis</th>
			<th>Cena</th>
			<!--   <th></th>-->
		</tr>
		
		<tr th:each="produkt : ${koszyk.produkty}">
			<td><span th:text="${produkt.id}"></span></td>
			<td><span th:text="${produkt.kategoria}"></span></td>
			<td><span th:text="${produkt.nazwa}"></span></td>
			<td><span th:text="${produkt.opis}"></span></td>
			<td><span th:text="${produkt.cena}"></span></td>
			<!-- <th>
				<form th:action="@{usunProdukt}" method="post">
                  <input type="hidden" name="id" th:value="${produkt.id}" />
                  <button type="submit">Usuń</button>
              	</form>
              	
              	<a th:href="@{edytujProdukt/__${produkt.id}__}">Edytuj</a>
              	
              	<form th:action="@{dodajDoKoszyka}" method="post">
                  <input type="hidden" name="id" th:value="${produkt.id}" />
                  <button type="submit">Dodaj do koszyka</button>
              	</form>
			</th> -->
		</tr>
		
	</table>
</body>
</html>